<a href="https://colab.research.google.com/github/kukuruzinaS/myfirst/blob/main/%D0%9A%D1%83%D0%B7%D0%B8%D0%BD%D0%B0_%D0%A1_%D0%9C_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Задача 1. Приветствие**

На вход программе подается строка текста – имя человека.

 Напишите программу, которая выводит на экран приветствие в виде слова «Привет, » (без кавычек), после которого должна стоять запятая и пробел, а затем введенное имя.

 Для считывания текста используйте команду input(), для печати текста на экране используйте команду print().

**Пример:**

 ввод данных: Екатерина

 вывод данных: Привет, Екатерина

In [3]:
print(*['Привет,', input()])

Света
Привет, Света

## **Задача 2. Право доступа**

На вход программе подаётся целое число — возраст пользователя. Программа должна вывести текст:
*   «Доступ разрешен», если возраст не менее 18;
*   «Доступ ограничен», если возраст от 14 до 17 лет (включительно);
*   «Доступ запрещен», если возраст менее 14 лет.

Для считывания возраста используйте команду input(), не забыв преобразовать тип данных в числовой с помощью int(); для печати текста на экране используйте команду print(). Используйте условные операторы if-elif-else.

**Пример:**

 ввод данных: 17

 вывод данных: Доступ ограничен

In [6]:
age = int(input())
if age >= 18:
  print('Доступ разрешен')
elif 14 <= age <= 17:
  print('Доступ ограничен')
else:
  print('Доступ запрещен')

3
Доступ запрещен

## **Задача 3. Повторение**

На вход программе подаётся:
*   на первой строке - текстовое предложение;
*   на второй строке - количество повторений (целое число).

Напишите программу, которая выводит предложение нужное количество раз (каждое предложение должно начинаться с новой строки).

Для считывания текста и числа повторений используйте команду input(), не забыв преобразовать тип данных в числовой с помощью int() для количества повторений; для печати текста на экране используйте команду print(). Используйте цикл for.

**Пример:**

 ввод данных: 
*   Век живи - век учись!
*   3

вывод данных: 
 
Век живи - век учись!

Век живи - век учись!

Век живи - век учись!

In [7]:
txt = input()
n = int(input())
for i in range(n):
  print(txt)

er
4
er
er
er
er

## **Задача 4. Повторение 2**

Реализуйте задачу 3 через цикл while.

In [10]:
txt = input()
n = int(input())
while n != 0:
  print(txt)
  n -= 1

rt
3
rt
rt
rt

## **Задача 5. ФИО**

Напишите функцию print_fio(name, surname, patronymic), которая принимает три параметра:
*   name – имя человека;
*   surname – фамилия человека;
*   patronymic – отчество человека;

а затем выводит на печать ФИО человека (на одной строке, только первые буквы в порядке surname-name-patronymic).

Добавьте комментарий перед каждым этапом:

*   #объявление функции
> def print_fio(name, surname, patronymic)
*   #ввод данных
> name, surname, patronymic =
*   #вызов функции
> print_fio(name, surname, patronymic)

Для считывания текста используйте команду input(); для печати текста на экране используйте команду print(), добавив параметр sep='' для печати на одной строке. Используйте def для объявления функции.

**Пример:**

 ввод данных: 
*   Иван
*   Сидоров
*   Петрович

вывод данных: СИП

In [15]:
#объявление функции
def print_fio(name, surname, patronymic):
  print(surname[0], name[0], patronymic[0], sep='')

#ввод данных
name, surname, patronymic = input('name: '), input('surname: '), input('patronymic: ')

#вызов функции
print_fio(name, surname, patronymic)

name: Светлана
surname: Кузина
patronymic: Михайловна
КСМ

## **Задача 6. Первая таблица**

Импортируйте библиотеку pandas с именем pd. Скопируйте словарь, у которого в качестве ключей - столбцы таблицы, а в качестве значений в списках - данные таблицы:
> data = {'col 1': ['Я', 'Python', 'Буду'], 'col 2': ['люблю', 'мой', 'стараться'], 'col 3': ['анализ', 'лучший', 'хорошо'], 'col 4': ['данных', 'друг', 'учиться']}

Создайте таблицу, скопировав следующий код:
> df = pd.DataFrame(data)

где df - имя таблицы, pd.DataFrame() - конструктор таблицы, data - словарь.

Выведите таблицу через print() либо просто ее вызовом без print().

In [18]:
# импорт библиотеки Pandas
import pandas

# создание словаря
data = {
    'col 1': ['Я', 'Python', 'Буду'], 
    'col 2': ['люблю', 'мой', 'стараться'], 
    'col 3': ['анализ', 'лучший', 'хорошо'], 
    'col 4': ['данных', 'друг', 'учиться']
    }

# создание таблицы/датафрейма
df = pandas.DataFrame(data)

# вывод таблицы принтом
# print (df)

# вызов таблицы без принта
df

    col 1      col 2   col 3    col 4
0       Я      люблю  анализ   данных
1  Python        мой  лучший     друг
2    Буду  стараться  хорошо  учиться